@model SignalR_ChatProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }

    .managePanel {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333;
    }

    .text-success {
        color: #28a745;
    }

    .form-horizontal {
        margin-top: 20px;
    }

    label.control-label {
        width: 150px;
        font-weight: bold;
    }

    .form-control {
        width: calc(100% - 150px);
        margin-left: 10px;
    }

    .btn-default {
        margin-left: 150px;
    }
    .form-group{
        display:flex;
    }
    .form-control{
        width:200px;
    }
</style>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="managePanel">
    <h2>@ViewBag.Title</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="修改密码" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}