@model SignalR_ChatProject.Models.IndexViewModel
@{
    ViewBag.Title = "账户管理";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
    }

    .managePanel {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333;
    }

    .text-success {
        color: #28a745;
    }

    .dl-horizontal {
        margin-top: 20px;
    }

        .dl-horizontal dt {
            float: left;
            clear: left;
            width: 150px;
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 160px;
            margin-bottom: 10px;
        }

    a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s;
    }

        a:hover {
            color: #0056b3;
        }

    #loginPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        #loginPanel h1 {
            margin-bottom: 20px;
        }

        #loginPanel img {
            margin-bottom: 20px;
        }
</style>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="managePanel">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div id="loginPanel">
        <h4>更改你的账户设置</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>密码相关:</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    <a href="@Url.Action("ChangePassword")">修改密码</a>
                }
                else
                {
                    <a href="@Url.Action("SetPassword")">创建密码</a>
                }
            </dd>
            <dt>外部登录:</dt>
            <dd>
                @Model.Logins.Count
                <a href="@Url.Action("ManageLogins")">管理</a>
            </dd>
            <dt>双重身份验证:</dt>
            <dd>
                <p>
                    尚未配置任何双重身份验证器。
                </p>
            </dd>
        </dl>
    </div>
</div>